<main class="main">
  <div class="user-wrapper">
      <div class="user-container">

        <div class="collection-head">
          <h1>Collections</h1>
        </div>

        <div class="collection-container">

          <%if @own_contract.present? %>
              <%@own_contract.all.each do |single_contract|%>
                  <%= render 'dashboard/own_collection_contract', contract: single_contract %>
              <%end%>
          <%else%>
              <%= render partial: 'common/empty' %>
          <%end%>


          <!-- paginator -->
            <div class="row">
              <div class="col-12">
                <div class="flickr_pagination sko-pagination">
                  <%= will_paginate @own_contract %>
                </div>
              </div>
            </div>
          <!-- end paginator -->

        </div>

      </div>
  </div>
</main>