<section class="pt-50 pb-50">
  <div class="container aboutus-container">

    <div class="row pb-50">
      <div class="col-md-12">
        <div class="content-block animatable fadeInUp">

          <h3 class="">Digital Creative Economy</h3>
          <!-- <p class="about-us-content-para">A unique NFT marketplace to provide opportunities for creators like an artist, architect, designers for financial benefits with the vision of empowering digital asset management through NFTs.</p>
					<p class="about-us-content-para">The platform allows the digital representation of unique assets in the form of NFTs with the standards of Ethereum that offer substantial benefits and a huge reputation from the global market for NFTs. This art-centric marketplace has a huge reputation for arts and artists that receives global recognition from the creators and NFT collectors.</p>
					<p class="about-us-content-para">Our market place allows us to create, sell and bid for NFTs which also allows purchasing NFTs from other marketplaces. Our plethora of NFTs in our marketplace offers a better investment opportunity for digital assets that offer enormous crypto fortunes as rewards for financial freedom.</p> -->

        </div>
      </div>
    </div>

    <div class="content-block">
      <div class="row pb-50">
        <div class="col-md-6 order-lg-1 order-md-1 order-sm-1 card-effect animatable fadeInLeft">
          <%= image_tag 'nft-img-about.png', class: "img-responsive about-img-custom img-width-four-five" %>
        </div>
        <div class="col-md-6 order-lg-2 order-md-2 order-sm-2 animatable fadeInRight">
          <div class="about-parent">
            <p class="about-us-content-para">We are excited to build a new digital creative economy —a world where creators can utilize the power of the  Ethereum blockchain to create unique digital items of value while building a stronger connections with their supporters.</p>
            <p class="about-us-content-para">We are very optimistic about the power of decentralization and the crypto space and are looking to bridge the gap between creativity and decentralization by the use of Non-Fungible Tokens.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="content-block">
      <div class="row pb-50">
        <div class="col-md-6 order-lg-2 order-md-2 order-sm-1 card-effect animatable fadeInRight">
          <%= image_tag 'nft-img-about-2.png', class: "img-responsive about-img-custom img-width-four-five" %>
        </div>
        <div class="col-md-6 order-lg-1 order-md-1 order-sm-2 animatable fadeInLeft">
          <div class="about-parent int-var-custom">
            <p class="about-us-content-para">Non-Fungible Tokens prove ownership of a digital item – image, sound file or text – in the same way that people own crypto coins. NFTS  certifies a <a href="https://en.wikipedia.org/wiki/Digital_asset" target="_blank">digital asset</a> to be unique and therefore not interchangeable.This makes ownership very valuable .</p>
          </div>
        </div>
      </div>
    </div>

    <div class="content-block">
      <div class="row pb-50">
        <div class="col-md-6 order-lg-1 order-md-1 order-sm-1 card-effect animatable fadeInLeft">
          <%= image_tag 'nft-img-about-3.png', class: "img-responsive about-img-custom img-width-four-five" %>
        </div>
        <div class="col-md-6 order-lg-2 order-md-2 order-sm-2 animatable fadeInRight">
          <div class="about-parent">
            <div class="about-parent">
              <p class="about-us-content-para">We are introducing a whole new world of owner where creatives and social media influencers can benefit from their work .With the innovation of social bonds where every social media user can list their NFT to pages to promote brands and other pages the unlimited power of NFT is still at dawn. We have also implemented royalty bonds where  creatives can sell part or full royalties to their digital items as NFT .</p>

              <p class="about-us-content-para">We are willing to go the extra mile to ensure that every NFT listed on the platform is as authentic as possible .</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
