<div class="activity dummy-activity">
  <a class="activity__cover" href="javascript:void(0);">
    <%= image_tag 'banner-bg.jpg', size: '140x162' %>
  </a>
  <div class="activity__content">
    <h3 class="activity__title">
      <a href="javascript:void(0);">
        <%= t('collections.collection_name')%>
      </a>
    </h3>
    <p class="activity__text"><%= t('collections.liked_by')%>
      <a href="javascript:void(0);">
        @User name
      </a>
      <span class="activity__time">about 2 hours </span>
    </p>
  </div>
</div>
